@layer system {

    .animon,
    #dnd-action-dragged-el {
        // Outer boxes on a sheet
        .outer-box {
            background-color: grey;
            border: 5px solid #505050;
            border-radius: var(--border-radius);
            contain: paint;
        }

        // Inner boxes on a sheet
        .inner-box {
            background-color: white;
            border: 3px solid black;
            border-radius: var(--border-radius);
            contain: paint;
            color: black;
            margin: var(--inner-box-margin);
            padding: var(--inner-box-padding);
            transition: height 0.75s;

            h1,
            h2,
            h3,
            h4 {
                color: black;
            }
        }
    }
}