@mixin nude_input {
    background-color: inherit;
    border: none !important;
    color: black;
}

@layer system {
    .animon,
    #dnd-action-dragged-el {
        .checkbox-round {
            width: 1.3em;
            height: 1.3em;
            background-color: white;
            border-radius: 50%;
            vertical-align: middle;
            border: 1px solid #ddd;
            appearance: none;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
        }

        .checkbox-round:checked {
            background-color: gray;
        }

        input.center {
            text-align: center;
        }

        // For inputs with their labels inline
        .prefix-input {
            display: flex;
            align-items: center;
            border-bottom: var(--dash-line);
            margin-bottom: 2px;

            label, .psuedo-label {
                // flex: 0 1;
                font-weight: bolder;
            }

            input, .readonly {
                flex: 1 0;
                min-width: 0px;
                @include nude_input();
            }

            span, label, input {
                padding: 2px 5px;
            }
        }

        input.nude, select.nude {
            @include nude_input();
        }

        // The dotted underline style common on sheets
        .dash-underline {
            border-bottom: var(--dash-underline);
        }

        // For disabling buttons, forms, whatever
        .disabled {
            opacity: 50%;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}