@layer system {

    .animon,
    #dnd-action-dragged-el {

        // Make sure that styling persists even for our dragged element
        // For evenly distributed children
        .even {
            display: flex;
            flex-direction: row;

            // align-items: center;
            >* {
                flex-basis: 0;
                flex-grow: 1;
                min-width: 0;
            }
        }
    }
}