@layer system {

    // Global styling and classes. Anything that is used between multiple sheets should go here
    .animon, // This class will ideally be on all elements!
    #dnd-action-dragged-el // Make sure that styling persists even for our dragged element
    {
        --border-radius: 24px;
        --inner-border-radius: 20px;
        --dash-underline: 2px dashed black;

        // Outer boxes on a sheet
        .outer-box {
            background-color: grey;
            border: 3px solid #505050;
            border-radius: var(--border-radius);
        }

        // Sheet styling
        &.application.sheet {
            background-color: grey;
            border: 3px solid #505050;
            border-radius: var(--border-radius);
            contain: paint;

            .window-content {
                padding: 0px;
            }
        }

        h1,h2,h3,h4 {
            margin-bottom: 0px;
        }


        // Inner boxes on a sheet
        .inner-box {
            background-color: white;
            border: 3px solid black;
            border-radius: var(--border-radius);
            contain: paint;
            color: black;
            margin: 6px;

            h1, h2, h3, h4 {
                color: black;
            }
        }

        // For evenly distributed children
        .even {
            display: flex;
            flex-direction: row;
            align-items: center;
            > * {
                flex-basis: 0;
                flex-grow: 1;
                min-width: 0;
            }
        }

        // For inputs with their labels inline
        .prefix-input {
            display: flex;
            align-items: center;
            border-bottom: var(--dash-underline);
            margin-bottom: 2px;

            label {
                font-weight: bolder;
            }

            input {
                background-color: inherit;
                border: none !important;
                color: black;
            }
        }

        // The dotted underline style common on sheets
        .dash-underline {
            border-bottom: var(--dash-underline);
        }

        // The font for most of our static sheet text
        .blocky {
            // Is there a css way to uppercase?
        }

        .invert {
            filter: invert(1)
        }

        .clip-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .italic {
            font-style: italic;
        }

        // Default borders look ugly
        img {
            border: none;
        }

        // For disabling buttons
        .disabled {
            opacity: 50%;
            cursor: not-allowed;
            pointer-events: none;
        }

        // Custom tooltip - overrides how data-tooltip appears
        &#tooltip {
            background-color: white !important;
            border: 1px solid black;
            border-radius: 0px !important;
            box-shadow: none !important;
            color: black !important;

            // For action planner tooltips
            &.actions {
                text-align: start;
            }
        }

        img.thumbnail {
            max-width: 64px;
            max-height: 64px;
            border: 1px solid black;
        }

        &.actor.application {
            // border: none;
            // box-shadow: none;
            // background: none;
            overflow: visible; // For the border
            // min-height: 280px;
            // min-width: 260px;

            &>header {
                z-index: 10; // Just make it high as shit
                // margin-left: 80px;
                // margin-right: 10px;
                // background: none;
                // border: none;
            }

            &>section.window-content {
                overflow: hidden auto;

                // Best place to customize color/texture here!
                // background-color: #F0F0F0;
            }
        }
    }
}